<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Honme</title>
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <header>
     <h1>Home</h1>
     <a href="/login">Login</a>
     <a href="/search">Search</a>
     <a href="/register">Register</a>
   </header>

   <section>
     <form class="snippet" action='' method="post">

         <button type="submit" name="button">+</button>

         <input id="title" type="text" name="title" value="" placeholder="Title">

         <input id="language" type="text" name="language" value="" placeholder="language">

         <input id="tags" type="textarea" name="tags" value="" placeholder="tags">

         <input id="body" type="textarea" name="body" value="" placeholder="body">

         <input id="notes" type="textarea" name="notes" value="" placeholder="notes">

     </form>
    </section>

  </body>
</html>
